.foot-style{
    background-color: #32302F;
}

.foot-style hr{
    background-color: white;
    border-radius: 2px;
}

#nav-id {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

#nav-id .nav-link{
    padding: 15px 20px;
}
.nav-link-custom{
    font-size: medium !important;
    font-weight: 400 !important;
    color: white !important;
    text-transform: none !important;
}

.stack-bar{
    font-size: medium !important;
    color: white !important;
    border: none !important;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 48px !important;
    height: 48px !important;
    padding-top: 0 !important;
}

.lined {
    overflow: hidden;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    color: #4364ae;
}
.lined:before,
.lined:after {
    background-color: #d2d0d0;
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    border-radius: 1px;
}
.lined:before {
    right: 0.5em;
    margin-left: -50%;
}
.lined:after {
    left: 0.5em;
    margin-right: -50%;
}
.center{
    display:table-cell;
    vertical-align:middle;
  }

 .btn-group > .btn{
    border-color: white;
  }

  .btn-primary{
      background-color: #32302F;
  }

  p, div{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
  }
  
  .custom-h2{
    font-weight: 600;
    color: white;
    font-size: larger;
    background: #98b394;
    height: 30px;
    padding-top: 2px;
  } 

  b, strong{
      font-weight: 600;
  }

.contact-form{
    height: 600px;
}

.error-msg{
    color: red !important;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

h3.custom-h3 {
    font-size: 16px;
    font-weight: 500;
    background:#98b394;
    color: white;
}

h3.custom-h3-lg {
    font-size: large;
    font-weight: 500;
    background:#98b394;
    color: white;
}


.card{
    border-radius: 0px !important;
}

.deck-margin-top{
    margin-top:20px;
}

ul.small-text {
    font-size: 14px;
}

.li-float li{
    float: left;
    overflow-wrap: normal;
    margin-right: 25px;
}